*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.telephone{
    border: 1px solid gray;
    border-radius: 5px;
}
p{
    padding-left: 30px;
}
.login button{
    border: none;
    background:#041447;
    border-radius: 10px;
}
.login .button1 a{
    color: white;
}



.menu{
  background: #19448c;
    position: relative;
}

.menu ul a{
    color: black;
    font-weight: bold;
}
.header .col .login{
    border-right: 1px solid rgb(252, 252, 252);
}
.header .col a{
    margin: 5px;
    color: white;
    border: 1px solid white;
    background: rgb(35, 126, 211);
    border-radius: 10px;
}
.menu .button{
    border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.menu .button1{
    background: #041447;
    border-radius: 10px;
}
.menu .button1:hover{
    background: none;
    color: red;
    border-radius: 10px;
}
.menu #hov:hover{
    background: rgb(236, 226, 226);
    color: red;
    border-radius: 10px;
}

.nav-active{
    background: black;
}
.menusanpham .btn{
    color: white;
    background: rgb(43, 162, 209);
    
}
.menusanpham .card-body{
    position: relative;
    display: inline-block;
}

.menusanpham .btn:hover{
    background: red;
    color: white;
    font-family:monospace;
    border-radius: 5px;
}
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .menu .dropdown-menu #drop:hover{
      background: red;
      color: rgb(240, 236, 236);
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-item{
      padding-top: 10px;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
.menu ul li{
    padding-left: 10px;
    padding-right: 10px;
}
.menu ul li a{
   font-family: Arial, Helvetica, sans-serif;
}
.menu a{
    margin-left: 30px;
    padding-left: 10px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black; 
    text-align: center;
}
.carousel-inner img.d-block{
    height: 500px;
    width: 200px;
}

.menu .dropdown{
        position: relative;
        display: inline-block;
      
}

.menu  .dropdown-menu{
    display: none;
  position: absolute;
  background-color: #e9d8f4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu .dropdown-menu a{
    color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-menu {
    display: block;
  }

hr.ngan{
    width: 35% ;
    background: rgb(240, 236, 236);
    border: 2px solid rgb(240, 236, 236);
}
hr{
    width: 100%;
    background: rgb(240, 236, 236);
    border: 2px solid rgb(240, 236, 236);
}

.spxemnhieu .mt-3{
    border: 2px solid rgb(156, 141, 141);
}
.spxemnhieu .mt-3 h3{
    width: 200px;
    font-size: 20px;
    font-weight: 100%;
    border: 1px solid rgb(190, 44, 44);
}
.sanphamhot h2{
    color: rgb(22, 19, 58);
    font-weight: 600;
}
.tintuc{
    border: 2px solid rgb(240, 236, 236);
}
footer{
    background: #fbf7f7;
}
footer .container{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
footer .view img{
    margin: 7px;
}

footer .thanhtoan img{
   margin: 9px;
}

footer .chinhsach a{
    text-decoration: none;
    color: black;
}
.menu #acctive{
    border: 1px solid black;
    background: red;
}
.sanphamhot .collapse ul li{
    margin-left: 20px;
    padding-left: 50px;
}
.sanphamhot nav{
    background-color: darkcyan;
}
.menusanpham img{
    display:block;transition: all .3s ease;
}
.menusanpham img:hover{
    transform: scale(1.2);
}
.menusanpham .card{
    display:block;overflow: hidden; 
}
.footer .container{
    background-image: url(imagesphukien/images/backgroung_footer_03.jpg);
}
.footer h3{
    color: rgb(10, 24, 87);
    font-weight: 600;
}
.footer li a{
    color: white;
}
.footer li{
    list-style: none;
}
/* CSS Trang Phu Kien */
.sanpham .row .zoom img{
    display:block;transition: all .3s ease;
}

.sanpham a p{
    color: black;
}

.sanpham a p:hover{
    color: rgb(238, 14, 14);
}
.sanpham .row .zoom img:hover{transform: scale(1.2);}
.sanpham.zoom a{display:block;overflow: hidden;}
.lienhe a{
    float:left;
}
.topnav .btn{
    background: darkgray;
}
.dealhot a{
    text-decoration: none;
}
.dealhot p{
    color: black;
}
.banchay .link span{
    margin: 10px;
    border: 1px solid black;
    font-size: 20px;
    font-weight:400;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    background: #ccc6c6;
}
.banchay h3{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.banchay span:hover{
    color: red;
    background: white;
    width: 100px;
}
.sanphambanchay{
    background: #d9d8d8;
}

.sanphambanchay .row .noidung{
    background: #d5f0f0;
}
.sanphambanchay img{
    display:block;transition: all .3s ease;
}
.sanphambanchay img:hover{
    transform: scale(1.2);
}

.sanphambanchay a{
    display:block;overflow: hidden;
}

.hethong p{
    border-bottom: 1px solid gray;
    width: 100%;
}
.hethong .cuahangviet h3{
    background: #747070;
    font-size: 25px;
    font-weight: bold;
}
.hethong .cuahangviet h5{
    background: #bbb6b6;
    color: black;
    font-size: 25px;
    font-weight: bold;
}
.hethong .cuahangviet{
    background: #eee8e8;
}
.cuahangviet a{
    text-decoration: none
}

.cuahangviet h5:hover{
    background: white;
    color: red;
}
/* MacBook*/
.menumac a{
    margin: 20px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    
}
.menumac #menu1{
    background: #292939;
    margin-left: 15px;
    padding: 10px;
}
.menumac .menu{

    width: 100%;
    overflow-x: scroll;
    
}
.menumac .baohanh{
    border: 1px solid black;
    border-radius: 10px;
    background: red;
}
#login{
    background: url(imagesphukien/images/bacgroung_login_02.jpg) no-repeat;
}
#login a{
    text-decoration: none;
}
.login{
    border: 2px solid white;
    background: white;
    margin: 70px;
}
#login h5 a{
    color: red;
}
#logo span{
    font-size: 15px;
    color: red;
    margin-top: 40px;
}
#logo h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(20, 124, 221);
}
#logo button a{
    color: white;
    text-decoration: none;
}
#login .login_khac img:hover{
    background-color: rgb(236, 226, 226);
}
/*Login*/

    @media screen and (max-width: 600px) {
        .topnav .search-container {
          float: none;
        }
     
        .topnav a, .topnav input[type=text], .topnav .search-container button {
          float: none;
          display: block;
          text-align: left;
          width: 10%;
          margin: 0;
          padding: 8px;
        }
        .topnav input[type=text] {
          border: 1px solid #ccc;  
        }
      }